// ====================================
// GRID
// ====================================

// ====================================
// COLUMN PADDING HELPER
// ====================================

$rhythm: rem-calc($column-gutter / 2);
$padding: $rhythm;

// ====================================
// GRID MIXINS
// ====================================

@mixin column($columns: $column-count){
	width: $columns * (100% / $column-count);
	display: flex;
	flex-direction: column;
	flex: 0 0 ($columns * (100% / $column-count));
}

@mixin offset($columns: $column-count){
	margin-left: $columns * (100% / $column-count);
	max-width: 100% - ($columns * (100% / $column-count));
}

@mixin row($nest: false){
	max-width: $global-width;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;

	margin-left: auto;
	margin-right: auto;
}

// ====================================
// BREAKPOINT MIXIN
// ====================================
// @include breakpoint(large){}
// @include breakpoint(large, min, height){}
// TO DO:
// Might be able to set $direction to null to make it optional?
// ====================================

@mixin breakpoint($breakpoint, $direction: 'min', $orientation: 'width') {
	
	$breakpoints: if($orientation == 'height', $vbreakpoints, $breakpoints);

	@if map-has-key($breakpoints, $breakpoint) {
		$breakpoint: map-get($breakpoints, if($breakpoint == 'small' and $direction == 'max', 'medium', $breakpoint));
		$breakpoint: if($direction == 'max',$breakpoint - 1,$breakpoint);

		@media screen and (#{$direction}-#{$orientation}: rem-calc($breakpoint)) {
			@content;
		}
	} @else {
		@content;
	}
}

// ====================================
// ROWS
// ====================================

[class^='row'], .row{
	@include row();
	flex: 1 0 100%;
}

.row--fluid{
	max-width: none;
	.row--fluid{
		max-width: none;
	}
}

// ====================================
// COLS BASE
// ====================================

[class*='col--']{
	width: 100%;
	padding-left: $padding;
	padding-right: $padding;

	&.row{
      	/* Add row class to make column act like a row */
		padding-left: 0;
		padding-right: 0;
	}

	.row{
		/* Rows inside columns negate column padding */
		margin-left: -$padding;
		margin-right: -$padding;
	}
}

/* Get column & offset sizes set in Settings.scss */

$columns: map-get(map-get($grid, small), columns);
$offsets: map-get(map-get($grid, small), offsets);

// ====================================
// GENERATE OFFSETS
// ====================================

.offset{
	&--0{
		margin-left: 0;
		max-width: 100%;
	}

	@each $offset in $offsets{
		&--#{$offset}{
			@include offset($offset);
		}
	}
}

// ====================================
// GENERATE COLUMNS
// ====================================

.col{
	@each $column in $columns{
		&--#{$column}{
			@include column($column);
		}
	}
}

// ====================================
// BREAKPOINT COLS & OFFSETS
// ====================================

@mixin makegrid(){
	@each $size in $grid {
		@if (nth($size,1) != 'small'){
			$columns: nth(nth(nth($size,2),1),2);
			$offsets: nth(nth(nth($size,2),2),2);
			$size: nth($size,1);

			@include breakpoint($size){
				.#{$size}\:{
					&col{
						@each $column in $columns {
							&--#{$column}{
								@include column($column);
							}
						}
					}
	
					&offset{
						&--0{
							margin-left: 0;
							max-width: 100%;
						}
				
						@each $offset in $offsets {
							&--#{$offset}{
								@include offset($offset);
							}
						}
					}
			
					&row--fluid{
						max-width: 100%;
					}
				}
			}
		}
	}
}

@include makegrid();