# Grunt

.tmp/

# Node

logs
*.log
npm-debug.log*

pids
*.pid
*.seed

lib-cov
coverage
.grunt
.lock-wscript
build/Release

node_modules
.npm
.node_repl_history

# Craft CMS

/craft/storage/
!/craft/storage/logo/*

syncCraft.cfg

# Mac cruft

.DS_Store
.AppleDouble
.LSOverride
/craft/templates
._*

.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows cruft

Thumbs.db
ehthumbs.db

Desktop.ini

$RECYCLE.BIN/

*.cab
*.msi
*.msm
*.msp

*.lnk

/html/assets
!/html/assets/fonts/*
/templates/_inlinejs/*
/templates/_inlinecss/*
/source/temp
/source/icons/sprites.html
/source/images/sprites-*
/source/sass/_sprites.scss
/scripts/.env.sh
/.env.php
tmp-*.html
/nginx.test.conf
/nginx.live.conf
/nginx.test-postcache.conf
/nginx.test-precache.conf
/nginx.live-postcache.conf
/nginx.live-precache.conf
/scripts/.env.live.sh
/scripts/.env.test.sh
