// -----------------------------------------------------------------------------
// Alignment utilities
// -----------------------------------------------------------------------------

@mixin pier-align-utilities() {
  .flex { display: flex; }
  .inline-flex { display: inline-flex; }
  .grid { display: grid; }

  .items-start { align-items: flex-start; }
  .items-center { align-items: center; }
  .items-end { align-items: flex-end; }
  .justify-start { justify-content: flex-start; }
  .justify-center { justify-content: center; }
  .justify-between { justify-content: space-between; }
  .justify-end { justify-content: flex-end; }
  .content-center { align-content: center; }

  .text-left { text-align: left; }
  .text-center { text-align: center; }
  .text-right { text-align: right; }

  .wrap { flex-wrap: wrap; }
  .nowrap { flex-wrap: nowrap; }

  .inline-block { display: inline-block; }
  .block { display: block; }
}
