@use "sass:map";

@forward "pier/config";
@forward "pier/functions";
@forward "pier/mixins";
@forward "pier/grid";
@forward "pier/layout";
@forward "pier/utilities";

@use "pier/config" as config;
@use "pier/functions" as fn;
@use "pier/grid" as grid;
@use "pier/utilities" as utilities;
@use "pier/reset";
@use "pier/print";

$primary: fn.font-family(primary);
$accent: fn.font-family(accent);
$letter-gothic: fn.font-family(monospace);

$global-font-family: $primary;
$body-font: $primary;
$monospace-font: $letter-gothic;
$heading-font: fn.font-family(heading);

@include grid.generate-grid();
@include utilities.generate-utilities();
